/* Base */
*, 
*:before, 
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    background: black;
    color: black;
    text-align: center;
    font-family: 'Archivo', sans-serif;
}

.container {
    background: white;
    width: 100%; 
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
}

/* Nav */
.nav {
    padding: 1rem;
    background: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav a {
    color: white;
    text-decoration: none;
}

/* Title */
.welcome {
    padding: 5dvw;
}

.title, 
.description {
    margin: 0;
}

.title {
    font-size: clamp(3rem, 7dvw + 1rem, 100px);
}

.description {
    font-size: 20px;
}

/* Contact Section */
.contact-container {
    width: 100%;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.contact-list div {
    padding: 1rem;
    width: 100%;
    background: black;
}

.contact-list :is(i, span) {
    font-size: 1.5rem;
    color: white;
}

/* Footer */
footer {
    padding: 1rem;
    color: white;
}
